body {
    background: rgb(255, 207, 104);
}
#bolding {
    font-weight: bold;
}
#caption {
    color: #000000;
    font-weight: bold;
}
.figure-caption {
    font-size: 0.6rem;
}
.frontend {
    font-size: 0.875rem;
    text-align: justify;
}

@media (min-width: 544px) {
    .frontend {
        font-size: 1rem;
    }
    .figure-caption {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    .frontend {
        font-size: 1.1rem;
    }
    .figure-caption {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {
    .frontend {
        font-size: 1.2rem;
    }
    .figure-caption {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .frontend {
        font-size: 1.3rem;
    }
    .figure-caption {
        font-size: 1.2rem;
    }
}
